CSV INACTIVE_PLAYER

In [3]:
# üìå Importamos las librer√≠as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# üìå Ruta del archivo CSV
ruta = r"C:\Users\User\OneDrive\Documentos\proyecto_final\data_en_csv\madre\inactive_players.csv"

# üìå Cargamos el CSV
df_inactive = pd.read_csv(ruta)

# üìå Mostramos estructura general del DataFrame
df_inactive.info()
df_inactive.head()
df_inactive.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110191 entries, 0 to 110190
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   game_id            110191 non-null  int64
 1   player_id          110191 non-null  int64
 2   first_name         110190 non-null  object
 3   last_name          110190 non-null  object
 4   jersey_num         110148 non-null  float64
 5   team_id            110191 non-null  int64
 6   team_city          110191 non-null  object
 7   team_name          110191 non-null  object
 8   team_abbreviation  110191 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.6+ MB

(110191, 9)

In [5]:
# üìå Mostrar cantidad de valores nulos por columna
nulos = df_inactive.isnull().sum()
nulos = nulos[nulos > 0].sort_values(ascending=False)

print("üìä Valores nulos por columna:")
print(nulos)

üìä Valores nulos por columna:
jersey_num    43
first_name     1
last_name      1
dtype: int64

- VISUALIZAR FILAS QUE CONTIENEN LOS VALORES NULOS

In [8]:
# üìå Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# üìå Ver las primeras filas con nulos
filas_con_nulos.head()

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
197,20000155,0,NaN,NaN,32.0,1610612765,Detroit,Pistons,DET
620,20500021,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1209,20500146,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1738,20500259,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1838,20500270,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI

- SE ELIMINAN LA FILA QUE CONTIENEN VALORES NULOS EN FIRST_NAME Y LAST_NAME

In [9]:
# üìå Eliminar la fila que contiene valores nulos en first_name o last_name
df_inactive = df_inactive[~(df_inactive['first_name'].isnull() | df_inactive['last_name'].isnull())]

- VERIFICAMOS QUE SE ELIMINO LA FILA

In [10]:
# üìå Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# üìå Ver las primeras filas con nulos
filas_con_nulos.head()

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
620,20500021,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1209,20500146,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1738,20500259,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1838,20500270,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI
1925,20500295,469,Jamal,Mashburn,NaN,1610612755,Philadelphia,76ers,PHI

- REEMPLAZAMOS LOS VALORES NULOS DE LA COLUMNA JERSEY_NUMBER CON 0

In [11]:
# üìå Reemplazar los valores nulos de la columna jersey_num por 0
df_inactive['jersey_num'] = df_inactive['jersey_num'].fillna(0)

In [12]:
# üìå Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# üìå Ver las primeras filas con nulos
filas_con_nulos.head()

Empty DataFrame
Columns: [game_id, player_id, first_name, last_name, jersey_num, team_id, team_city, team_name, team_abbreviation]
Index: []

- VERIFICAMOS EL TIPO DE DATO DE CADA COLUMNA

In [13]:
# üìå Mostrar los tipos de datos de cada columna
df_inactive.dtypes

game_id                int64
player_id              int64
first_name            object
last_name             object
jersey_num           float64
team_id                int64
team_city             object
team_name             object
team_abbreviation     object
dtype: object

In [16]:
# üìå Convertir la columna jersey_num a tipo Int64
df_inactive['jersey_num'] = df_inactive['jersey_num'].astype('Int64')

# üìå Mostrar los tipos de datos de cada columna
df_inactive.dtypes

game_id               int64
player_id             int64
first_name           object
last_name            object
jersey_num            Int64
team_id               int64
team_city            object
team_name            object
team_abbreviation    object
dtype: object

- VERIFICAMOS SI HAY DATOS DUPLICADOS

In [17]:
# üìå Verificar si hay filas duplicadas en todo el DataFrame
duplicados = df_inactive.duplicated()

# üìå Mostrar cu√°ntas filas est√°n duplicadas
print(f"Filas duplicadas: {duplicados.sum()}")

# üìå Mostrar las filas duplicadas
df_inactive[duplicados]

Filas duplicadas: 7

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
17940,30700001,708,Kevin,Garnett,5,1610616833,East NBA All Stars,East,EST
17941,30700001,2406,Caron,Butler,3,1610616833,East NBA All Stars,East,EST
48013,31400001,2548,Dwyane,Wade,3,1610616833,East NBA All Stars,East,EST
48014,31400001,201933,Blake,Griffin,32,1610616834,West NBA All Stars,West,WST
110188,32200001,201142,Kevin,Durant,35,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30,1610616834,Team,LeBron,LBN

In [18]:
# üìå Paso 1: Detectar filas duplicadas (todas las columnas)
duplicados = df_inactive[df_inactive.duplicated(keep=False)]

# üìå Paso 2: Contar cu√°ntas veces se repite cada fila duplicada
resumen_duplicados = duplicados.value_counts().reset_index(name='Repeticiones')

# üìå Paso 3: Mostrar resumen
print(f"üîÅ Total de filas duplicadas: {len(duplicados)}")
print("üìã Resumen de duplicados (filas id√©nticas):")
print(resumen_duplicados.head())

# üìå Paso 4: Mostrar tabla de duplicados
duplicados

üîÅ Total de filas duplicadas: 14
üìã Resumen de duplicados (filas id√©nticas):
    game_id  player_id first_name last_name  jersey_num     team_id  \
0  30700001        708      Kevin   Garnett           5  1610616833
1  30700001       2406      Caron    Butler           3  1610616833
2  31400001       2548     Dwyane      Wade           3  1610616833
3  31400001     201933      Blake   Griffin          32  1610616834
4  32200001     201142      Kevin    Durant          35  1610616833

            team_city team_name team_abbreviation  Repeticiones
0  East NBA All Stars      East               EST             2
1  East NBA All Stars      East               EST             2
2  East NBA All Stars      East               EST             2
3  West NBA All Stars      West               WST             2
4                Team   Giannis               GNS             2

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
17938,30700001,708,Kevin,Garnett,5,1610616833,East NBA All Stars,East,EST
17939,30700001,2406,Caron,Butler,3,1610616833,East NBA All Stars,East,EST
17940,30700001,708,Kevin,Garnett,5,1610616833,East NBA All Stars,East,EST
17941,30700001,2406,Caron,Butler,3,1610616833,East NBA All Stars,East,EST
48011,31400001,2548,Dwyane,Wade,3,1610616833,East NBA All Stars,East,EST
48012,31400001,201933,Blake,Griffin,32,1610616834,West NBA All Stars,West,WST
48013,31400001,2548,Dwyane,Wade,3,1610616833,East NBA All Stars,East,EST
48014,31400001,201933,Blake,Griffin,32,1610616834,West NBA All Stars,West,WST
110185,32200001,201142,Kevin,Durant,35,1610616833,Team,Giannis,GNS
110186,32200001,1629627,Zion,Williamson,1,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30,1610616834,Team,LeBron,LBN

- UNIFICAR LA ESCRITURA, LA PRIMER LETR DE CADA PALABRA EN MAYUSCULA Y LAS SIGLAS CON PUNTOS ENTRE LAS LETRAS

In [19]:
# üìå Funci√≥n para capitalizar y corregir siglas tipo "AJ" ‚Üí "A.J."
def formatear_nombre(nombre):
    if pd.isnull(nombre):
        return nombre
    partes = nombre.strip().split()
    nuevas_partes = []
    for parte in partes:
        if len(parte) == 2 and parte.isupper():
            nuevas_partes.append(parte[0] + '.' + parte[1] + '.')
        else:
            nuevas_partes.append(parte.capitalize())
    return ' '.join(nuevas_partes)

# üìå Guardar originales para comparar
original_first = df_inactive['first_name'].copy()
original_last = df_inactive['last_name'].copy()

# üìå Aplicar la funci√≥n de correcci√≥n
df_inactive['first_name'] = df_inactive['first_name'].apply(formatear_nombre)
df_inactive['last_name'] = df_inactive['last_name'].apply(formatear_nombre)

# üìå Contar cu√°ntos se modificaron
modificados_first = (df_inactive['first_name'] != original_first).sum()
modificados_last = (df_inactive['last_name'] != original_last).sum()

print(f"‚úÖ Nombres modificados en 'first_name': {modificados_first}")
print(f"‚úÖ Apellidos modificados en 'last_name': {modificados_last}")

‚úÖ Nombres modificados en 'first_name': 5661
‚úÖ Apellidos modificados en 'last_name': 6267

In [20]:
df_inactive

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44,1610612753,Orlando,Magic,ORL
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30,1610616834,Team,LeBron,LBN

EXPORTE EL DOCUMENTO CON LA LIMPIEZA REALIZADA

In [21]:
# üìå Exportar el DataFrame limpio a CSV
df_inactive.to_csv(
    r"C:\Users\User\OneDrive\Documentos\proyecto_final\data_en_csv\inactive_players_limpio.csv",
    index=False)

print("‚úÖ Archivo exportado correctamente como inactive_players_limpio.csv")

‚úÖ Archivo exportado correctamente como inactive_players_limpio.csv